* {
  background-color: rgb(253, 251, 251);
  margin: 0;
  padding: 0;
}

#cabecalho {
  padding: 10px;
  width: 100%;
  top: 0;
  position: fixed;
  background-color: hsl(161, 54%, 27%);
}

#titulo {
  background-color: hsl(161, 54%, 27%);
  text-align: center;
  color: white;
}

#minha_foto {
  border-radius: 300px;
  padding: 2px;
  margin-top: 100px;
  width: 300px;
  height: 300px;
}
