body {
  margin: 10px;
  padding: 10px;
  border: firebrick;
  font-style: oblique;
  font-family: Lucida Sans, Lucida Sans Regular, Lucida Grande, Lucida Sans Unicode, Geneva, Verdana, sans-serif;
  font-weight: lighter;
  font-size: medium;
  line-height: 120%;
  background-color: rgb(253,251,251);}
#cabecalho{ 
  top: 0;
  width: 100%;
  position: fixed;
  background-color: darkolivegreen;
  text-align: center;}
#barlist{ 
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  background-color: darkolivegreen;}
#titulo{ 
  color: white;
  font-size: xx-large;
  text-shadow: 2px 2px 4px black; }
#minha_foto{ 
  margin-top: 30px;
  margin-right: 50px;
  border-radius: 200px;}
#licoes_aprendidas{ 
  margin-left: 20px;}
#licoes_a_aprender{ 
  margin-left: 20px;
  margin-right: 50px;}
#listas{ 
  margin-top: 20px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center}
#rodape{ 
  border-right-style: groove;
  text-align: right;}
#rodatex{ 
  color: white;
  text-shadow: 2px 2px 4px black;}
#tabela{ 
  margin-top: 20px;
  width: auto;
  height: auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: justify;}
footer{ 
    display: inline;}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;}
p {
  font-style: italic;
  font-family: Lucida Sans, Lucida Sans Regular, Lucida Grande, Lucida Sans Unicode, Geneva, Verdana, sans-serif;
  font-weight: inherit;
  font-size: large;
  line-height: 110%;}
h3{
  margin-left: 20px}
td {
  padding: 10px;
  height: 50%;}
