body{
  background-color: rgb(253, 251, 251);
}
.menu ul li a{
  list-style: none;
  display: inline-block;
  text-align: center;
  width: 500px;
}
#cabecalho{
  background-color:#CA075B;
  position: fixed;
  width: 600;
  height: 50px;
  text-align: center;
  color: white;
  padding-left: 0%;

}
.circled {

  border-radius: 100%;
  width: 200px;
}
.images_link{

  border-bottom: black;
  width: 50px;
}