body {
  background-color: rgb(253, 251, 251);
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

header {
  position: fixed;
  top: 0;
  background-color: gray;
  float: unset;
  left: 550px;
  padding: 10px;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-size: 0.8rem;
  margin-bottom: 100px;
  margin-left: 400px;
}

td , th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px 20px;
}

th {
  background-color: rgb(235, 235, 235);
}

td {
  text-align: center;
}

tr:nth-child( even ) td {
  background-color: red;
}

tr:nth-child( odd ) td {
  background-color: blue;
}

caption {
  padding: 10px;
}

/* CLASS */
.fotos img {
  width: 200px;
  padding: 20px;
  border: 2px solid black;
}

.lessons {
  float: right;
  position: relative;
  bottom: 300px;
}

.navegacao li {
  display: inline-block;
  list-style: none;
  padding: 20px;
}

/* IDS */
#licoes_aprendidas {
  display: inline-block;
}

#licoes_a_aprender {
  display: inline-block;
}

