body {
  background-color: rgb(253, 251, 251);
  font-family: sans-serif;
  font-size: 20px;
  color: black;
  line-height: 2;
}

#cabecalho {
  position: fixed;
  top: 0;
  display: block;
  background-color: rgb(149, 149, 172);
}

#minha_foto {
  display: block;
  max-width: 300px;
  padding: 100px;
}

#licoes_aprendidas {
  color: green;
  font-weight: 700;
}

#licoes_a_aprender {
  color: black;
  font-weight: 200;
}

#principal {
  display: inline-block;
  border: 2px gray solid;
  padding-left: 20px;
  width: 40%;
  padding-bottom: 100px;
  margin: 10px;
}

#secundario {
  display: inline-block;
  border: 2px gray solid;
  padding-left: 20px;
  width: 40%;
  padding-bottom: 100px;
  margin: 10px;
}

.lado-esquerdo {
  display: inline-block;
  border: 2px gray solid;
  padding-left: 10px;
  width: 20%;
  padding-bottom: 50px;
  margin: 10px;
}

.lado-direito {
  display: inline-block;
  border: 2px gray solid;
  padding-left: 10px;
  width: 20%;
  padding-bottom: 50px;
  margin: 10px;
}
