body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: darkcyan;
  width: 100%;
  height: 100px;
  left: 0;
}

#titulo {
  font-style: italic;
  font-size: 50px;
  color: antiquewhite;
  text-align: center;
  font-family: fantasy;
}

#minha_foto {
  width: 200px;
  border-color: darkcyan;
  border-style: solid;
}

#principal {
  margin-top: 100px;
  top: 10px;
}

#listaordenada {
  display: inline-block;

}

#licoes_aprendidas {
  text-align: justify;
  background-color: aquamarine;
  font-family: fantasy;
  font-size: 20px;
}


#listadesordenada {
  display: inline-block;
  margin-left: 30px;
}

#licoes_a_aprender {
  text-align: justify;
  background-color: aquamarine;
  font-size: 20px;
  font-family: fantasy;
}

.subtitulo {
  background-color: darkcyan;
  font-size: 20px;
  color: azure;
  font-style: italic;
}

#rodape {
  font-style: italic;
  margin-left: 350px;
  margin-top: 600px;
}

#trybe {
  width: 25px;
  margin-left: 40px;
  float: left;
}

#textrodape {
  width: 25px;
  margin-top: 150px;
  margin-left: 40px;
  display: inline;
}

#link {
  border-color: darkcyan;
  border-style: solid;
  background-color: aquamarine;
  margin-top: 20px;
}

#artigo {
  font-style: italic;
  margin-top: 0;
  text-align: justify;
  font-family: fantasy;
  line-height: 50px;
  color: darkcyan;
  background-color: aquamarine;
  border-style: solid;
  border-color: darksalmon;
  font-size: 20px;
  float: left;
  width: 650px;
  height: 400px;
  padding-right: 20px;
  padding-left: 20px;
}

#lateral {
  float: left;
  background-color: aquamarine;
  border-style: solid;
  margin-left: 200px;
  padding-left: 50px;
  font-weight: 30;
  padding-top: 30px;
  font-size: 25px;
  text-align: justify;
  padding-right: 50px;
  font-style: italic;
  color: darkcyan;
  border-color: darksalmon;
  width: 200px;
  height: 390px;
  line-height: 40px;
}

#trybe2 {
  width: 100px;
}

#barra {
  display: inline-block;
  margin-top: 200px;
}

.texttable {
  font-family: fantasy;
  font-size: 15px;
  font-style: italic;
}

#table {
  margin-left: 2px;
}

#asid {
  display: inline-block;
}

#caixas {
  padding-top: 25px;
}

.lado-direito {
  padding-top: 5px;
}

.lado-esquerdo {
  padding-top: 5px;
}
