body {
  background-color: rgb(253, 251, 251);
  margin: 0;
}

header {
  background-color: rgb(114, 134, 134);
  top: 0px;
  width: 100%;
  position: fixed;
  text-align: center;
}

#minha_foto {
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 100%;
  width: 100px;
  float: left;
}

#licoes_aprendidas {
  margin-top: 100px;
  padding: 20px;
}
