body {
  background-color: rgb(253, 251, 251);
  font-family:syne Mono, sans-serif;
}

main {
  padding-left: 15px;
}

#cabecalho {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: steelblue;
  width:1326px;
  padding-left: 15px;
  padding-bottom: 5px;
  border:5px solid rgb(16, 45, 70);
}

header {
  color: rgb(206, 228, 226);
  line-height: 15px;
  z-index: 2;
}

header h2 {
  padding-left: 5px;
}

#titulo {
  font-size: 42px;
}

.links {
  margin-right: 10px;
}

#minha_foto {
  width: 300px;
  border:5px solid rgb(16, 45, 70);
  margin-top: 140px;
}

.lado_direito {
  width: 400px;
  position: relative;
  left: 500px;
  bottom: 540px;
  z-index: 1;
}

aside.lado_direito {
  margin-top: 40px;
}

#licoes_para_aprender {
  margin-top: 59px;
}
#rodape {
  background-color: steelblue;
  width:1316px;
  border:5px solid rgb(16, 45, 70);
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 10px;
}
