body {
  background-color: rgb(253, 251, 251);
  font-family: IBM Plex Sans, sans-serif;
  font-size: 16px;
  line-height: 1.2;
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: rgb(4, 165, 4);
  color: white;
}

#titulo {
  padding: 10px 600px 10px 6px;
  margin-left: 490px;
}

.main {
  margin-top: 150px;
}

#minha_foto {
  width: 200px;
  border-radius: 5%;
}

.menu {
  padding: 0;
  margin-left: 10px;
}

.menu li {
  display: inline-flex;
  padding: 0 10px 0 0;
}

.lessons {
  display: flex;
}

#licoes_aprendidas {
  margin-right: 90px;
}
