body {
  background-color: rgb(253, 251, 251);
  color: black;
  font-family: -apple-system, sans-serif;
}

header {
  color: black;
  position:absolute;
  top: 0;
  float: unset;
  left: 550px;
  padding: 10px;
}

html {
  font-family: -apple-system, sans-serif;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-size: 0.8rem;
  margin-bottom: 100px;
  margin-left: 400px;
}

td , th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px 20px;
}

th {
  background-color: rgb(235, 235, 235);
}

td {
  text-align: center;
}

tr:nth-child( even ) td {
  background-color: pink;
}

tr:nth-child( odd ) td {
  background-color: grey;
}

caption {
  padding: 10px;
}

/* CLASS */
.fotos img {
  background-color: indigo;
  margin: 100px;
  width: 200px;
  padding: 10px;
  border: 2px solid black;
  float: right;
}

.lessons {
  background-color: lawngreen;
  color: brown;
  align-self: center;
  padding: 30px;
  border: 5px solid brown
}

.navegacao li {
  background-color: grey;
  display: inline-block;
  list-style: none;
  padding: 10px;
  border: 1px solid black;
  margin: 10px;
}

.navegacao {
  background-color: teal;
}

.navegacao a {
  color: black;
  text-decoration: none;
}

.barralateral {
  background-color: burlywood;
  color: black;
  padding: 20px;
  text-align: center;
  border: 3px solid orange;
  margin: 50px;
  width: 200px;
  float: right;
}

.linkabout {
  border: 2px solid brown;
  background-color: gainsboro;
  color: black;
}

.linkabout li{
  display: inline-block;
  padding: 10px;
  margin: 10px;
}

.linkabout a {
  text-decoration: none;
  color: red;
}

/* IDS */
#licoes_aprendidas {
  display: inline-block;
}

#licoes_a_aprender {
  display: inline-block;
}

#meuaprendizado {
  background-color: blueviolet;
  color: antiquewhite;
  padding: 20px;
  text-align: center;
  border: 3px solid orange;
  margin: 10px;
}

