body {
    background-color:rgb(253, 251, 251);
    margin: 0;
    padding: 0;
}

#cabecalho{
     top: 0;
     position: fixed;
     padding: 10px;
     width: 100%;
     background-color: rgb(5, 5, 5);

}
#titulo{
  text-align: center;
  color: whitesmoke;

}
#minha_foto{
  
  margin-top: 100px;
  margin-left: 50px;
  padding: 2px;
  width: 200px;
  
}

#rodape{
     bottom: 0;
     margin-top: 10px;
     text-align: center;
     position: absolute;
     padding: 10px;
     width: 100%;
     background-color: rgb(18, 136, 7);

}

.lado-esquerdo{
  width: 400px;
  display: inline-block;
}


.lado-direito{
  display:inline-block;
  width: 400px;
}

.learned{
  width: 1200px;
  display:inline-block;
}